@import url('https://fonts.googleapis.com/css2?family=Anta&family=Martel+Sans:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Serif", serif;
}

body {
    background: black;
    color: white;
}



.left {
    width: 25vw;
    padding: 10px;

}

.right {
    width: 75vw;
    position: relative;
}

.home {
    /* padding: 10px; */
}

.home ul li {
    width: 17px;
    gap: 15px;
    display: flex;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    width: 100%;
    gap: 15px;
    display: flex;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    font-size: 13px;
    align-items: center;

}


.heading img {
    width: 30px;
    /* align-items: center; */
}

.library {
    min-height: 80vh;
    position: relative;
    /* bottom: 0; */
}

.footer {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0px;

}

.footer a {
    color: grey;
}

.right {
    margin: 16px 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #181818
}

.header>* {
    padding: 20px;

}

.spotifyPlaylists {
    padding: 16px;
    background-color: #1f1f1f;
}

.cardContainer {
    margin: 35px;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    max-height: 80vh;
    overflow-y: scroll;
}

.card {
    position: relative;
    width: 250px;
    /* border: 2px solid red; */
    padding: 10px;
    /* background: color #181818; */
    background-color: #181818;

    display: grid;
    gap: 10px;

}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
    border-radius: 50%;

}

.card .play {
    padding: 10px;
}

.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    border: 2px solid #000;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 18px;
    top: 197px;
    opacity: 0;
    transition: all 1s ease-out;
}

.button>* {
    margin: 0px 16px;
}

.signupbtn {
    color: grey;
    background-color: #181818;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;

}

.signupbtn:hover {
    color: white;
    font-size: 19px;
}

.loginbtn{
    background-color: white;
    color: black;
    width: 144px;
    border-radius: 30px;
    padding: 19px;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}
.loginbtn:hover{
   width:146px;
   font-weight: bold;
   cursor: pointer;
}


.playbar{
    position: absolute;
    bottom: 0px;
    background-color: green;
    width: 100%;
    padding: 12px;
}

.songbutton{
    display: flex;
    justify-content: center;
    gap: 12px;
}
